@import "tailwindcss";
@import "tw-animate-css";

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: 'Inter';
  font-size: 14px;
  color: #000;
  margin-left: 0;
  padding: 0;

}

.swiper {  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin-left: 0;
  padding: 0;

}

.swiper {
  width: 300px;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 20px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;


}

.swiper-slide img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.swiper-button-next{

  top:90%;
}
.custom-shape-divider-bottom-1744955913 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1744955913 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 89px;
}

.custom-shape-divider-bottom-1744955913 .shape-fill {
  fill: #FFFFFF;
}